html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  scroll-behavior: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Kanit", sans-serif;
}

button {
  background-color: #8888dd;
}

.mainDark input[type="number"] {
  color: blanchedalmond;
  background-color: #222244;
}

.mainDark button {
  color: blanchedalmond;
  background-color: #222244;
}

.weatherIcon {
  position: absolute;
  scale: 300%;
  opacity: 50%;
}

.mainDark,
.mainLight {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 9.25vh 25vw 0;
}

.backgroundDark, .backgroundLight {
  height: 100vh;position: fixed;
  width: 100vw;
  scroll-behavior: auto;
}

.headerDark,
.headerLight {
  align-items: center;
  padding: 20px;
  height: 20vh;
  position: sticky;
  width: 100%;
  overflow: hidden;
}

.darkModeCheck {
  position: absolute;
  right: 25px;
}

.imgContainer {
  display: flex;
  justify-content: center;
}

.weather > p {
  padding-left: 3.5vw;
  display: inline;
}

.headerDark {
  background-color: #222244;
  color: blanchedalmond;
  border: 5px solid black;
}

.headerLight {
  background-color: #8888dd;
  color: black;
  border: 5px solid #222288;
}

.backgroundDark {
  background-color: #111166;
  border: 5px solid black;
  z-index: -1;
  left: 0;
  top: 0;
}

.backgroundLight {
  background-color: aliceblue;
  border: 5px solid #222288;
  z-index: -1;
  left: 0;
  top: 0;
}

.mainDark {
  color: blanchedalmond;
}

.mainLight {
  color: black;
}

.location {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.location h3 {
  padding: 5vh 1vw 5vh;
}

.location > div:nth-child(1) {
  font-size: xx-large;
  margin-top: -15px;
}

.dataCard {
  position: relative;
  border: 5px solid black;
  border-radius: 15px;
  padding: 25px;
  margin-top: 10px;
  justify-content: center;
}

.mainDark .dataCard {
  background-color: #222244;
}

.mainLight .dataCard {
  background-color: #8888dd;
}

input[type="number"] {
  width: 5rem;
  border: 3px solid black;
  border-radius: 5px;
}

button {
  border: 3px solid black;
  border-radius: 5px;
}

form > * {
  margin: 5px;
}

@media (max-width: 500px) {
  .mainDark,
  .mainLight {
    display: flex;
    flex-direction: column;
    padding: 3vh 5vw 3vh;
  }

  .dataCard {
    padding: 5px;
  }

  .weatherIcon {
    scale: 250%;
    opacity: 20%;
    transform: translateY(5vh);
  }

  .headerDark,
  .headerLight {
    display: flex;
    flex-direction: column;
    height: 25vh;
  }

  .darkModeCheck {
    top: 5px;
  }

  .mainDark form,
  .mainLight form {
    padding-bottom: 15px;
  }

  .location h3 {
    padding: 10px 5px 5px;
  }

  .zip-code-input {
    bottom: 10px;
  }

  .dataCard {
    padding: 3px;
  }
}
